.app-header {
    background-color: var(--clr-header);
    margin-block-end: 1em;

    color: var(--clr-txt);
}

.header-container {
    display: flex;
    align-items: center;
    padding-block: .5em;
}

.header-container h1 {
    flex-grow: 1;
    margin-block-end: 0;
    color: var(--clr2);
}

.app-nav {
    display: flex;
    gap: 15px;
}

a.active {
    color: var(--clr2);
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr-txt);
    }
}
